@model NatuurlikBase.ViewModels.UserVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
<div class="card">
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="User.Id" hidden />
        <div class="card-header" style="background-color: #F2F2F2">
            <h5>Update User Details</h5>
        </div>
      @*  <div asp-validation-summary="All"></div>*@
      <div class="card-body">

        <div class="row">
        <div class="col-md-6">
            <label asp-for="User.FirstName"> First Name </label>
            <input asp-for="User.FirstName" class="form-control" />
            <span asp-validation-for="User.FirstName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="User.Surname"> Surname </label>
            <input asp-for="User.Surname" class="form-control" />
            <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
        </div>


          <div class="row">
               <div class="col-md-6">
                <label asp-for="User.PhoneNumber"> Phone Number </label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
              <div class="col-md-6">
                <label asp-for="User.Email"> Email Address </label>
                <input asp-for="User.Email" class="form-control" disabled />
                <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
          </div>  

          <div class="row">
                <div class="col-md-6">
                <label asp-for="User.StreetAddress"> Street Address </label>
                <input asp-for="User.StreetAddress" class="form-control" />
                <span asp-validation-for="User.StreetAddress" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="row">
                 <div class="col-md-6">
			<label asp-for="User.CountryId">Country: </label>
			<select asp-for="User.CountryId" asp-items="@Model.CountryList" class="form-control">
				<option disabled selected>--Select Country--</option>
			</select>
			<span asp-validation-for="User.CountryId" class="text-danger"></span>
		</div>

		<div class="col-md-6">
			<label asp-for="User.ProvinceId"> Province: </label>
			<select asp-for="User.ProvinceId" asp-items="@Model.ProvinceForCountryList" class="form-control">
				<option disabled selected>--Select Province--</option>
			</select>
			<span asp-validation-for="User.ProvinceId" class="text-danger"></span>
		</div>

        <div class="col-md-6">
			<label asp-for="User.CityId">City: </label>
			<select asp-for="User.CityId" asp-items="@Model.CityForProvinceList" class="form-control">
				<option disabled selected>--Select City--</option>
			</select>
			<span asp-validation-for="User.CityId" class="text-danger"></span>
		</div>

        <div class="col-md-6">
			<label asp-for="User.SuburbId">Suburb: </label>
			<select asp-for="User.SuburbId" asp-items="@Model.SuburbForCityList" class="form-control">
				<option disabled selected>--Select Suburb--</option>
			</select>
			<span asp-validation-for="User.SuburbId" class="text-danger"></span>
		</div>
        
          <br />
             @if (Model.User.Id != null)
            {
                <div class="col-md-6"> 
                    <label>Account Status:</label>
                    @Html.DropDownListFor(modelItem => modelItem.User.EmailConfirmed, new [] { new SelectListItem { Text = "Active", Value="True" } , new SelectListItem { Text = "Disabled", Value="False"}})

                </div>
            }
          </div>
           


        	<div class="col-12 text-end">
			@if (Model.User.Id != null)
			{
				<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
			}
			else
			{
				<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
			}
			<a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back to List
			</a>
		</div>
   
</div>  
</form>
</div>
</div>

<script>
 function onCountryChange()
    {
        if(!$('#Input_Country').val())
        {
            $('#suburbControl').attr('hidden',true);
            $('#cityControl').attr('hidden',true);
            $('#provinceControl').attr('hidden',true);
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/DropDownList/GetProvince",
                data: { countryId: $('#Input_Country').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#Input_Province').html('');
                    options += '<option value="0" disabled >--Select Province--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#Input_Province').append(options);

                    //Sets teh DDL to the placeholder value
                    $('#Input_Province').val(0);
                    $('#provinceControl').attr('hidden',false);
                }
            });
        }
    }

    function onProvinceChange()
    {
        if(!$('#Input_Province').val())
        {
            $('#cityControl').hide();
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/DropDownList/GetCity",
                data: { ProvinceId: $('#Input_Province').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#Input_City').html('');
                    options += '<option value="0" disabled >--Select City--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#Input_City').append(options);

                    //Sets teh DDL to the placeholder value
                    $('#Input_City').val(0);
                    $('#cityControl').attr('hidden',false);
                }
            });
        }
    }

    function onCityChange()
    {
        if(!$('#Input_City').val())
        {
            $('#suburbControl').hide();
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/DropDownList/GetSuburb",
                data: { CityId: $('#Input_City').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#Input_Suburb').html('');
                    options += '<option value="0" disabled >--Select Suburb--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#Input_Suburb').append(options);

                    //Sets the DDL to the placeholder value
                    $('#Input_Suburb').val(0);
                    $('#suburbControl').attr('hidden',false);
                }
            });
        }
    }

    </script>
    }

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

    
     