@model Cart
@*
@section catalogue {
    <link href="@Url.Content("~/css/catalogue.css")" rel="stylesheet" type="text/css" />
}*@
<form method="post">
    <input hidden asp-for="ProductId" />

    <div class="itemspace row justify-content-center">
        <div class="col-lg-6 left">
            <img class="prodimg" src="@Model.Product.PictureUrl">
        </div>
          <div class="col-lg-6">
        @if(User.IsInRole(SR.Role_Reseller))
        {
             <h2 class="itemTitle">@Model.Product.Name</h2>
            <h3><strong>R @Model.Product.ResellerPrice.ToString("0.00")</strong> </h3> 
            <p id="itemdesc">
               @Model.Product.Description
                </p>
            }
            else
            {
            <h2 class="itemTitle">@Model.Product.Name</h2>
            <h3><strong>R @Model.Product.CustomerPrice.ToString("0.00")</strong> </h3> 
            <p id="itemdesc">
               @Model.Product.Description
            </p>
            }

             <div class="row pt-3">
             <div class="col-2 text-primary"><h4>Count</h4></div>
             <div class="col-10"><input asp-for="Count" min=1 class="form-control"  /></div>
             </div>
            
            <div class="row">
                <div class="col-4">
                    <a asp-area="" asp-controller="ProductCatalogue" asp-action="Index" class="btn btn-primary btn-block" id="itembtn">Back</a>
                </div>
                <div class="col-5">
                    <button href="#" class="btn btn-primary btn-block" id="itembtn">Add to Cart</button>
                </div>
            </div>
            <h6>Category</h6>
            <p id="itemcat">@Model.Product.Category.Name</p>
             <h6>By</h6>
            <p id="itemcat">@Model.Product.Brand.Name</p>
        </div>       
    </div>

</form>



    <h4>Related Products</h4>
        <div class="container" >
            <div class="row justify-content-center" id="products">
                <div class="col-lg-3 col" >
                    <div class="rela card" id="prod">
                        <img class="card-img-top" src="~/images/chili.png" alt="Card image cap">               
                          <p class="item">Chili Sauce</p>
                          <p class="price">R 34.99</p>
                          <button asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</button>
                      </div>
                </div>
                <div class="col-lg-3 col">
                    <div class="rela card" id="prod">
                        <img class="card-img-top" src="~/images/olive.png" alt="Card image cap">
                        <p class="item">Cold Pressed Pure Olive Oil</p>
                        <p class="price">R 79.99</p>
                        <button asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</button>
                    </div>
                </div>
                <div class="col-lg-3 col">
                    <div class="rela card" id="prod">
                        <img class="card-img-top" src="~/images/honey.png" alt="Card image cap">
                        <p class="item">Pure Farm Honey</p>
                        <p class="price">R 74.99</p>
                        <button asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</button>
                    </div>
                </div>
                <div class="col-lg-3 col"> 
                    <div class="rela card" id="prod">
                      <img class="card-img-top" src="~/images/soap.png" alt="Card image cap">
                      <p class="item">Handmade Pure Glycerin Soap</p>
                      <p class="price">R 25.00</p>
                      <button asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</button>
                  </div>
              </div>
            </div>
        </div>
</div>