@page
@using NatuurlikBase.Models
@model IndexModel
@{
    ViewData["Title"] = "Profile Details";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if(User.IsInRole(SR.Role_Reseller))
            {
                 <div class="form-floating" id="formspace" hidden>
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating" id="formspace" hidden>
                <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="form-control" autocomplete="lastname" aria-required="true" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-floating" id="formspace">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

              <div class="form-floating" id="formspace">
                <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="form-control" autocomplete="lastname" aria-required="true" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            }
           
          
            <div class="form-floating" id="formspace">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="lastname" disabled />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating" id="formspace">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating" id="formspace">
                <label asp-for="Input.StreetAddress"></label>
                <input asp-for="Input.StreetAddress" class="form-control" aria-required="true" />
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-floating col-md-6" id="formspace">
			 <label asp-for="Input.Country">Country</label>
                        <select asp-for="Input.Country" asp-items="@Model.Input.CountryList" required class="form-control" onchange="onCountryChange()">
                            <option disabled selected>- Select Country -</option>
                        </select>
                        <span asp-validation-for="Input.Country" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6" id="formspace">
			 <label asp-for="Input.Province">Province</label>
                        <select asp-for="Input.Province" asp-items="@Model.Input.ProvinceList" required class="form-control" onchange="onProvinceChange()">
                            <option disabled selected>- Select Province -</option>
                        </select>
                        <span asp-validation-for="Input.Province" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-floating col-md-6" id="formspace">
			 <label asp-for="Input.City">City</label>
                    <select asp-for="Input.City" asp-items="@Model.Input.CityList" required class="form-control" onchange="onCityChange()">
                        <option disabled selected>- Select City -</option>
                    </select>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6" id="formspace">
			 <label asp-for="Input.Suburb">Suburb</label>
                    <select asp-for="Input.Suburb" asp-items="@Model.Input.SuburbList" required class="form-control">
                        <option disabled selected>- Select Suburb -</option>
                    </select>
                    <span asp-validation-for="Input.Suburb" class="text-danger"></span>
                </div>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
    </div>
</div>

<script>
        
    function onCountryChange()
    {
        if(!$('#Input_Country').val())
        {
            $('#suburbControl').attr('hidden',true);
            $('#cityControl').attr('hidden',true);
            $('#provinceControl').attr('hidden',true);
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/User/GetProvince",
                data: { countryId: $('#Input_Country').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#Input_Province').html('');
                    options += '<option value="0" disabled >--Select Province--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#Input_Province').append(options);

                    //Sets teh DDL to the placeholder value
                    $('#Input_Province').val(0);
                    $('#provinceControl').attr('hidden',false);
                }
            });
        }
    }

    function onProvinceChange()
    {
        if(!$('#Input_Province').val())
        {
            $('#cityControl').hide();
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/User/GetCity",
                data: { ProvinceId: $('#Input_Province').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#Input_City').html('');
                    options += '<option value="0" disabled >--Select City--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#Input_City').append(options);

                    //Sets teh DDL to the placeholder value
                    $('#Input_City').val(0);
                    $('#cityControl').attr('hidden',false);
                }
            });
        }
    }

    function onCityChange()
    {
        if(!$('#Input_City').val())
        {
            $('#suburbControl').hide();
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/User/GetSuburb",
                data: { CityId: $('#Input_City').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#Input_Suburb').html('');
                    options += '<option value="0" disabled >--Select Suburb--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#Input_Suburb').append(options);

                    //Sets the DDL to the placeholder value
                    $('#Input_Suburb').val();
                    $('#suburbControl').attr('hidden',false);
                }
            });
        }
    }
        
    </script>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
