@model NatuurlikBase.ViewModels.UserCartVM

@section order {
    <link href="@Url.Content("~/css/order.css")" rel="stylesheet" type="text/css" />
}


<form method="post">
	<div class="container" id="montserret">
		<h2 id="cartTitle">CART</h2>
			<div class="row carttable">		
				<div class="table-responsive col-md-9 order-md-1">
				<table class="table-sm d-none d-lg-block">
					<thead class="dark">
						<tr>
							<th class="text-light col-1" id="go">
								Product
							</th>
							<th class="col-5" id="gone">
								Description
							</th>
							 <th class="text-light col-2">
								Price
							</th>
							 <th class="text-light col-2">
								Quantity
							</th>
							<th class="text-light col-1" id="come">
								Remove
							</th>
						</tr>
					</thead>
					<tbody>											
						@foreach (var cartItem in Model.CartList)
						{
							@if (cartItem.Count > 0)
							{
								<tr id="main">
									<td>
										<img id="pic" src="@cartItem.Product.PictureUrl" />

										@*//ONLY FOR DEMOSTRATION PURPOSES//*@
										@*<img id="pic" src="~/images/products/75c47ed2-c29c-4ab4-8c59-1c97bf1d48c0.png"/> *@
									</td>
									<td>
										<h6><strong>@cartItem.Product.Name</strong></h6>
										<p><small>@cartItem.Product.Description</small></p>											
									</td>
									<td>
										@if (User.IsInRole(SR.Role_Reseller))
										{
											<h6><strong>R @cartItem.Product.ResellerPrice.ToString("0.00")<span class="text-muted">&nbsp;x&nbsp;</span> @cartItem.Count </strong></h6>
										}

										else
										{
											<h6><strong>R @cartItem.Product.CustomerPrice.ToString("0.00")<span class="text-muted">&nbsp;x&nbsp;</span> @cartItem.Count </strong></h6>
										}
									</td>
									<td>
										<div role="group" class="plus">
											<a asp-action="decrement" asp-route-cartId="@cartItem.Id" id="gone">
												<i class="bi bi-dash-lg"></i>
											</a>
											&nbsp;
											<label><strong>@cartItem.Count</strong></label>
											&nbsp;
											<a asp-action="increment" asp-route-cartId="@cartItem.Id" id="gone">
												<strong>
													<i class="bi bi-plus-lg"></i>
												</strong>
											</a>
										</div>
									</td>
									<td id="bin">
										<a asp-action="remove" asp-route-cartId="@cartItem.Id" id="gone">
											<i class="bi bi-trash" ></i>
										</a>
									</td>										
								</tr>
							
						}
						else
						{
						}}
											
					</tbody>
				</table>

				<div class="d-lg-none">

					<div id="new">
						<p>Products</p>
					</div>

					<div class="row">
						@foreach (var cartItem in Model.CartList)
						{
							@if (cartItem.Count > 0)
							{
								<div class="col-5">
										<img id="mpic" src="@cartItem.Product.PictureUrl" />
								</div>

								<div class="col">
									<br >
										<h6><strong>@cartItem.Product.Name</strong></h6>
										<p><small>@cartItem.Product.Description</small></p>											

										@if (User.IsInRole(SR.Role_Reseller))
										{
											<h6 id="total">R @cartItem.Product.ResellerPrice.ToString("0.00")<span class="text-muted">&nbsp;x&nbsp;</span> @cartItem.Count </h6>
										}

										else
										{
											<h6 id="total">R @cartItem.Product.CustomerPrice.ToString("0.00")<span class="text-muted">&nbsp;x&nbsp;</span> @cartItem.Count </h6>
										}

										<div role="group" class="mobplus">
											<a asp-action="decrement" asp-route-cartId="@cartItem.Id" id="gone">
												<i class="bi bi-dash-lg"></i>
											</a>
											&nbsp;
											<label><strong>@cartItem.Count</strong></label>
											&nbsp;
											<a asp-action="increment" asp-route-cartId="@cartItem.Id" id="gone">
												<strong>
													<i class="bi bi-plus-lg"></i>
												</strong>
											</a>
										</div>																			
@*									<div id="bin">
										<a asp-action="remove" asp-route-cartId="@cartItem.Id" id="gone">
											<i class="bi bi-trash" ></i>
										</a>
									</div>	*@	
								</div>	
								<br />
								
								<hr />
							}
						else
						{}
					}
					</div>
				</div>
				</div>

		        <div class="col-md-3 order-md-2">
                    <div class="card" id="corner">
			            <div class="card-header" id="new">
				            Cart Total
			            </div>
                            <div class="card-body">                                  
								<div class="d-flex justify-content-between" id="total">
									<p> Total (ZAR):</p>
									<p> R @Model.Order.OrderTotal.ToString("0.00")</p>
								</div>


				                <div>						
									@if(@Model.CartList.Count == 0)
									{
										<div>
											<a asp-controller="ProductCatalogue" asp-action="Index" class="btn form-control" id="paybtn">Browse Products</a>
										</div>
									}
									else
									{
										<div>
											<a asp-controller="UserCart" asp-action="CartSummary" class="btn form-control" id="paybtn">Continue to Checkout</a>
										</div>
									}
				                </div>
                            </div>
                    </div>                      
                </div>						
			</div>	
		</div>
</form>
